# ignore .vscode/ directory
/.vscode

# ignore .pylintrc file
/.pylintrc

# ignore images in arrival and departure directory
/assets/img/arrival
/assets/img/departure

#ignore node_modules sub-directory in the prs-front directory
/prs-front/node_modules